#contenedor{
	width: 400px;
	margin-top: 5%;
    background-color:rgb(233, 233, 233);
}

body{
 
}

#personas {
    margin-top: 10%;
    width: 500px;
    padding-bottom: 20px;
    
}



#footer1 {
    margin-bottom: 10px;
    padding-top: 50px;
    
}